html {
	height: 100%;
	background: url(../img/Spring.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #00304B;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	width:70%;
	min-width: 840px;
	color: #000;
	height: auto;
}

h1 {
	text-align: center;
}

/* HEADER STYLES START */

.header {
	height: 100px;
	padding: 10px;
	margin-bottom: 10px;
	/*background: url(../img/logo_with_text.png);*/
	background: url(../img/logo_new.png);
	background-position-x:10px;
	background-repeat:no-repeat;
	
	border-bottom: 5px solid rgba(0, 0, 0, 0.7);
	border-left: 5px solid rgba(0, 0, 0, 0.7);
	border-right: 5px solid rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	
	position: relative;
}

.header_text {
	background: url(../img/header_text.png);
	background-position: center;
	background-repeat: no-repeat;
	margin 10px;
	width: 400px;
	height: 100px;
	position: absolute;
	vertical-align: middle;
	left: 30%
}

.lang_box {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.lang_box a:link, .lang_box a:visited, .lang_box a:hover, .lang_box a:active, .lang_box a:focus {
	text-decoration: none;
	border: 0px;
}

.lang_ge, .lang_en, .lang_ru {
	min-height: 48px;
	min-width: 48px;
	float: left;
	margin-right: 10px;
}

.lang_ge {
	background: url(../img/lang/ge.png);
	background-position:center;
	background-repeat:no-repeat;
}

.lang_en {
	background: url(../img/lang/en.png);
	background-position:center;
	background-repeat:no-repeat;
}

.lang_ru {
	background: url(../img/lang/ru.png);
	background-position:center;
	background-repeat:no-repeat;
}

/* HEADER STYLES END */

/* NAV STYLES START */

.nav {
	height: 50px;
	margin: 10px 0px 10px 0px;
	border: 5px solid rgba(0, 0, 0, 0.7);
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

.nav-bar {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-bar li {
	width: 1%;
	float: none;
	display: table-cell;
	text-align: center;
}

.nav-bar > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-bar > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-bar > li.active > a,
.nav-bar > li.active > a:hover,
.nav-bar > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 10px solid #000;
  border-bottom-color: transparent;
}
/* NAV STYLES END */

/* CONTENT STYLES START */
.content {
	background-color: rgba(255, 255, 255, 0.5);
	text-align:justify;
	padding: 20px;
	height: 100%;
	border: 1px solid #000000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/* SLIDE SHOW STYLES START */

.slides a:link, .slides a:visited, .slides a:hover, .slides a:active, .slides a:focus {
	text-decoration: none;
	border: 0px;
}

.p_caption { 
	margin:0; 
	padding:0;
	font-size: 14px;
	text-align: left;	
}

.slides ol,ul { list-style:none; }

.slides_box {
	text-align: center;
}

.slides {
	margin:0 auto;
	width:780px;
	position:relative;
	vertical-align: middle;
}

.div_next, .div_prev {
	text-decoration: none;
	border: 0px;
}

.div_prev {
	float: left;
}

.div_next {
	float: right;
}

.slides .next,.slides .prev {
	width:23px;
	height:430px;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}

.slides .arrow {
	border: 0px;
}

.slides_container {
	margin:0px auto;
	width:730px;
	height:430px;
	/*border: 15px solid #FFFFFF;*/
	overflow:hidden;
	z-index: 1;
}

.slide_picture {
	width: 730px; 
	height: 430px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/slides/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:-35px;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:700px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
/* SLYDE SHOW STYLES END */
	
/* CONTENT STYLES END */

/* FOOTER STYLES START */
/* FOOTER STYLES END */


/* FORMS STYLE START */
.form-horizontal .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.form-group {
	padding: 30px;
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
}
.col-sm-2, .col-sm-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
@media (min-width: 768px) {
	.col-sm-2, .col-sm-9 {
		float: left;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
	color: #777;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #777;
}
.form-control::-webkit-input-placeholder {
	color: #777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}
textarea.form-control {
	height: auto;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
/* FORMS STYLE END */